@tailwind base;
@tailwind components;
@tailwind utilities;
/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 84% 55%;
    --card-foreground: 0 0% 100%;
    --popover: 0 84% 60%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 84% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 84% 65%;
    --secondary-foreground: 0 0% 100%;
    --offer: 0 84% 45%;
    --offer-foreground: 0 0% 100%;
    
    --urgent: 0 84% 40%;
    --urgent-foreground: 0 0% 100%;
    --muted: 0 84% 70%;
    --muted-foreground: 0 0% 90%;
    --accent: 0 84% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 35%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 50% 80%;
    --input: 0 50% 80%;
    --ring: 0 84% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 84% 55%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 84% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 84% 65%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 50% 70%;
    --sidebar-ring: 0 84% 50%;
  }
  .dark {
    --background: 0 84% 25%;
    --foreground: 0 0% 100%;
    --card: 0 84% 30%;
    --card-foreground: 0 0% 100%;
    --popover: 0 84% 25%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 84% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 84% 40%;
    --secondary-foreground: 0 0% 100%;
    --offer: 0 84% 45%;
    --offer-foreground: 0 0% 100%;
    
    --urgent: 0 84% 60%;
    --urgent-foreground: 0 0% 100%;
    --muted: 0 50% 35%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 50% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 35%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 50% 35%;
    --input: 0 50% 35%;
    --ring: 0 84% 60%;
    --sidebar-background: 0 84% 20%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 84% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 50% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 50% 30%;
    --sidebar-ring: 0 84% 50%;
  }
}

/* Ajuste de cores de texto */
.text-gray-500, .text-gray-400, .text-gray-600, .text-muted-foreground, .text-muted {
  color: #000000 !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
